@using System.Security.Claims;
@using GoldGym.Data;
@model IEnumerable<GoldGym.Models.Customer>

@{
    ViewData["Title"] = "Index";
    var isAdmin = User.Claims.Any() ? User.Claims.Any(x => x.Type == ClaimTypes.Role && (x.Value == UserRole.Admin.ToString() ||
                            x.Value == UserRole.MasterAdmin.ToString())) : false;
}

<h1>Customers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dtExample">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            @* <th>
            @Html.DisplayNameFor(model => model.Address)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Pincode)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Mobile1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
            @if (isAdmin)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@ImageUploadUtil.getCustomerPhotoPath(item.Photo)" class="rounded" alt="Cinque Terre" width="90" height="90">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                @* <td>
            @Html.DisplayFor(modelItem => item.Address)
            </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.Pincode)
            </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Create" asp-controller="Payment" asp-route-id="@item.Id" class="btn btn-info btn-sm"><img class="svg-icon" src="~/svg/icons8-dollar-30.png" /></a> |
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-sm"><img class="svg-icon" src="~/svg/pen-to-square-solid.svg" /></a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary btn-sm"><img class="svg-icon" src="~/svg/eye-solid.svg" /></a>
                </td>
                @if (isAdmin)
                {
                    <td>
                        @using (Html.BeginForm("Delete", "Customer", new { id = item.Id }, FormMethod.Post, true,
                       new { onsubmit = "return confirm('Are you sure you wish to delete " + item.Name + " details?');" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => item.Id)
                            <button type="submit" class="btn btn-danger btn-sm" value="Delete"><img class="svg-icon" src="~/svg/trash-solid.svg" /></button>
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#dtExample').DataTable();
        });
    </script>
}
